*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.flex {
    display: flex;
}

.jc-center {
    justify-content: center;
}

.jc-space-between {
    justify-content: space-between;
}

.ai-center {
    align-items: center;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

li {
    list-style: none;
}

@keyframes float {
    0% {
      transform: translateY(0rem);
    }
    50% {
      transform: translateY(-.5rem);
    }
    100% {
      transform: translateY(0rem);
    }
}

/* @keyframes wave {
    0% {
      transform: rotate(0);
    }
    25% {
      transform: rotate(10deg);
    }
    75% {
        transform: rotate(-10deg);
    }
  } */

.nav-share {
    width: 100%;
    height: 3rem;
    background-color: rgb(0, 0, 0);
    padding: 0 0 0 20rem;
}

.nav-share .share-icon {
    background-color: transparent;
    border: none;
    rotate: -30deg;
    cursor: pointer;
}

.nav-share .share-icon i {
    font-size: 2rem;
    color: #fff;
}

.nav-first-child {
    width: 100%;
    margin: 0 auto;
    padding: .3rem 6rem;
}

.nav-first-child .one, .nav-first-child .three {
    width: 25%;
}

.nav-first-child .two h1 {
    margin: .5rem 0 0 0;
    font-size: 2.5rem;
    cursor: pointer;
}

.nav-first-child .two h1:hover {
    animation: float 2s ease-in-out infinite;
}

.nav-first-child .one ul li, .nav-first-child .three ul li {
    cursor: pointer;
    font-size: 1.1rem;
    padding: .3rem;
    transition: all .5s ease-in-out;
}

.nav-first-child .one ul li:hover, .nav-first-child .three ul li:hover {
    background-color: #c9c8c8;
    border-radius: .5rem;
}

.nav-first-child .three ul li:not(:first-child) {
    font-size: 1.5rem;
}

.nav-last-child {
    width: 100%;
    margin: 1.5rem auto;
    padding: .5rem 16rem;
    border: 1px solid #474646;
    border-left: none;
    border-right: none;
}

.nav-last-child ul li {
    font-size: 1.1rem;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.nav-last-child ul li:hover {
    color: #c9c8c8;
}

.head-gallery {
    width: 100%;
    height: 25rem;
    background-color: black;
    margin-top: 6rem;
    display: flex;
}

.head-back-pic-one-cont {
    height: 100%;
    width: 70%;
    overflow: hidden;
}

.head-back-pic-one {
    width: 60rem;
    height: 50rem;
}

.head-back-pic-two-cont {
    height: 100%;
    width: 30%;
    overflow: hidden;
}

.head-back-pic-two {
    width: 25rem;
}

.head-pic-three {
    width: 18rem;
    height: 28rem;
    overflow: hidden;
    border-radius: 1rem;
    right: 8rem;
}

.head-pic-three img {
    width: 25rem;
}